################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SEjemplo01/.vs/SEjemplo01/v16
/SEjemplo01/Debug
/SEjemplo01/Ejemplo01/Debug
